.header {
    width: 100%;
height: auto;
background: #FFF;
.header_text {
    color: #F75532;
font-size: 24px;
font-size: 24px;
font-weight: 500;
padding: 34px 120px ;
}
ul {
    display: flex;
    gap: 40px;
    list-style: none;
    padding: 39px 315px;
}
ul li {
    color: #001F29;
font-size: 16px;
cursor: pointer;
}
.header_text1 {
    color: #F75532;
font-size: 16px;
}
.header_button {
    width: 137px;
height: 48px;
border-radius: 10px;
background: #FE4610;
color: #FFF;
font-size: 16px;
margin-top: -15px;
cursor: pointer;
}
.header_box {
    display: flex;
}
.header_text2 {
    width: 400px;
    color: #001F29;
font-size: 48px;
}
.header_text3 {
    width: 380px;
    color:  #B9C0C1;
font-size: 14px;
margin-top: 16px;
}
.header_button1 {
    width: 168px;
height: 48px;
border-radius: 10px;
background: #FE4610;
color: #FFF;
font-size: 16px;
cursor: pointer;
}
.header_button2 {
    width: 142px;
    height: 48px;
    border-radius: 10px;
border: 1px solid  #F75532;
color:  #F75532;
font-size: 16px;
margin-top: 32px;
margin-left: 16px;
cursor: pointer;
}
.header_box1 {
    padding: 121px 121px;
}
.header_text4 {
    width: 180px;
    height: 184px;
    border-radius: 10px;
    background: #FFE1D8;
}
.header_text5 {
    width: 180px;
    height: 184px;
    border-radius: 10px;
    background: #FFE1D8;
}
.header_text6 {
    width: 180px;
    height: 184px;
    border-radius: 10px;
    background: var(--bg, #FFE1D8);
 }
.header_text7 {
    width: 180px;
    height: 184px;
    border-radius: 10px;
    background: #FFE1D8;
}
.header_text8 {
    width: 180px;
    height: 389px;
    border-radius: 10px;
    background: #FFE1D8;
    margin-left: 60%;
    margin-top: -53%;
}
.header_box2 {
    display: flex;
    gap: 22px;
}
.header_box3 {
    display: flex;
    gap: 22px;
    margin-top: 21px;
}
.header_yonga {
    margin-left: 758px;
    margin-top: -380px;
}
.header_box4 {
    width: 245px;
height: 179px;
border-radius: 15px;
background: #ffffff;
}
.header_text9 {
    color: #001F29;
font-size: 20px;
padding: 24px 114px;
}
.header_text10 {
    width: 380px;
    color: #B9C0C1;
    font-size: 18px;
    padding: 0px 111px;
  }
  .header_button3 {
    padding: 12px 24px;
    gap: 10px;
    border-radius: 30px;
      border: 1px solid #F75532;
    color: #F75532;
    margin-left: 54px;
    margin-top: 28px;
  }
 .header_box5 {
    display: flex;
    gap: 17px;
    padding: 41px 120px;
 }
}