.section {
    width: 100%;
    height: auto;
    background: #FFF;
    .section_box {
        width: 514px;
height: 400px;
border-radius: 10px;
background: #F2F2F2;
margin-left: 120px;
margin-top: 113px;
    }
    .ikonka1 {
        margin-left: 454px;
        margin-top: 34px;
    }
    .ikonka2 {
        margin-left: 266px;
        margin-top: 34px;
    }
    .ikonka3 {
        margin-left: 70px;
        margin-top: 34px;
    }
    .ikonka4 {
        margin-left: 377px;
        margin-top: 120px;
    }
    .ikonka5 {
        margin-left: 273px;
        margin-top: 19px;
    }
    .ikonka6 {
        margin-left: 109px;
        margin-top: 6px;
    }
    .section_text {
        color: #001F29;
font-size: 24px;
    }
    .section_text1 {
        width: 460px;
        color: #B9C0C1;
font-size: 16px;
margin-top: 31px;
    }
.section_box1 {
    margin-left: 750px;
    margin-top: -30%;
}
.section_box2 {
    width: 276px;
height: 139px;
border-radius: 10px;
background: #FFF;
box-shadow: 10px 24px 54px 0px rgba(0, 0, 0, 0.06);
margin-top: 30%;
display: flex;
gap: 24px;
}
.call {
    color: #001F29;
font-size: 16px;
}
.number {
    color: #B9C0C1;
font-size: 16px;
margin-top: 8px;
}
.boss {
    width: 164px;
height: 41px;
border-radius: 10px;
background: #F75532;
color: #FFF;
font-size: 16px;
margin-top: 13px;
}
.vir {
    margin-left: 32px;
}
.yon {
    display: flex;
    gap: 16px;
}
.yon1 {
    display: flex;
    margin-top: -28%;
    gap: 16px;
}
.section_box3 {
    margin-left: 752px;
    margin-top: -11%;
}
.section_text2 {
    color: #F75532;
font-size: 24px;
}
.section_text3 {
    width: 300px;
    color: #B9C0C1;
font-size: 16px;
margin-top: 16px;
}
.oxirgisi {
    display: flex;
    gap: 154px;
    margin-left: 124px;
    margin-top: 136px;
}
}