.footer {
  width: 100%;
  height: auto;
  background: #FFF;
}
.footer .footer_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 60px;
  color: #B9C0C1;
  font-size: 23px;
  padding: 80px 220px;
}
.footer .footer_text1 {
  color: #001F29;
  font-size: 24px;
  padding: 80px 120px;
}
.footer .footer_box1 {
  width: 1200px;
  height: 140px;
  border-radius: 10px;
  background: #fffffe;
  margin-left: 120px;
}
.footer .footer_box2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
  padding: 24px 24px;
}
.footer .footer_text2 {
  color: #001F29;
  font-size: 18px;
  margin-top: 8px;
}
.footer .footer_yon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer .footer_box3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 222px;
  color: #ABADAD;
  font-size: 14px;
  padding: 30px 216px;
}
.footer .footer_button {
  width: 137px;
  height: 48px;
  border-radius: 10px;
  background: #FE4610;
  color: #FFF;
  font-size: 16px;
  cursor: pointer;
}
.footer .footer_text3 {
  color: #001F29;
  font-size: 24px;
  padding: 30px 120px;
  margin-top: 100px;
}
.footer .footer_text4 {
  width: 670px;
  color: #B9C0C1;
  font-size: 16px;
  padding: 0px 120px;
}
.footer .footer_box4 {
  width: 350px;
  height: 300px;
  border: 2px solid rgb(255, 255, 255);
}
.footer .footer_text5 {
  width: 700px;
  color: #001F29;
  font-size: 18px;
  padding: 24px 144px;
}
.footer .footer_text6 {
  width: 460px;
  color: #ABADAD;
  font-size: 14px;
  padding: 16px 144px;
}
.footer .iko {
  margin-left: 152px;
}
.footer .footer_box5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 75px;
}
.footer .footer_box6 {
  width: 1220px;
  height: 365px;
  border-radius: 10px;
  background: #FFF;
  -webkit-box-shadow: 10px 24px 54px 0px rgba(0, 0, 0, 0.06);
          box-shadow: 10px 24px 54px 0px rgba(0, 0, 0, 0.06);
  margin-left: 120px;
  margin-top: 16px;
}
.footer .footer_box7 {
  width: 375px;
  height: 48px;
  border-radius: 10px;
  background: #FAFAFA;
  margin-left: 32px;
}
.footer .footer_text7 {
  width: 150px;
  color: #001F29;
  font-size: 18px;
  padding: 33px 32px;
}
.footer .footer_text8 {
  color: #ABADAD;
  font-size: 14px;
  padding: 16px 15px;
}
.footer .footer_box8 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.footer .footer_button1 {
  width: 139.283px;
  height: 48px;
  border-radius: 10px;
  background: #FE4610;
  color: #FFF;
  font-size: 16px;
  margin-top: 70px;
  margin-left: -65%;
}